.container
{
	filter: opacity(0);
	 transform: translate3d(0px, 100px, 0px);
	 margin:60px,60px,60px,60px;

}

a
{
	display:inline;
	float:left;
	width:300px;
	text-decoration:none;
	color:black;
	
}
img
{
	border-radius:48%;
	width:200px;
	height:200px;
}
body
{
background-image:url(admin.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

